# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_BASE=
AZURE_OPENAI_API_VERSION=

# Viewer Configuration
VIEWER_PORT=3300
CHROMADB_HOST=host.docker.internal
CHROMADB_PORT=8000
LITELLM_PROXY_URL=http://litellm:4000
LITELLM_MODEL=azure-text-embedding-ada-002

# Litellm Configuration
LITELLM_PORT=4000

